<%- include('../partials/admin/header') %>
    <div class="container-scroller">
        <%- include('../partials/admin/sidePanel') %>
            <div class="container-fluid page-body-wrapper">
                <div class="main-panel">
                    <div class="content-wrapper">
                        <div class="row">
                            <div class="col-12 grid-margin">
                                <div class="card">
                                    <div class="card-body">
                                        <div class="display-flex justify-content-between">
                                            <h4 class="card-title">Coupon Management</h4>
                                            <a href="/admin/loadAddCoupon" class="btn-primary" type="button">+ADD COUPONS</a>
                                        </div>
                                        
                                        <div class="table-responsive">
                                            <table class="table">
                                                <thead>
                                                    <tr>
                                                        
                                                        <th> S.No </th>
                                                        <th> Coupon Name</th>
                                                        <th> Code</th>
                                                        <th> Disc.Amount</th>
                                                        <th> Active Date</th>
                                                        <th> Expiry Date</th>
                                                        <th> Min Sale</th>
                                                        <th> Status</th>


                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <% function formatDate(date) { %>
                                                        <% if (date) { %>
                                                          <%= date.toLocaleDateString('en-US', { year: 'numeric' , month: 'short' , day: '2-digit'
                                                            }).replace(/\//g, '-' ) %>
                                                            <% } else { %>
                                                              N/A
                                                              <% } %>
                                
                                                                <% } %>
                                

                                                  <% for(let i=0; i < coupon.length; i++) { %>
                                                    <tr>
                                                        <td>
                                                            <%= i + 1 %>
                                                        </td>
                                                      <td>
                                                        <%= coupon[i].couponname %>
                                                      </td>
                                                      <td>
                                                        <%= coupon[i].couponcode %>
                                                      </td>
                                                      <td>
                                                        <%= coupon[i].discountamount %>
                                                      </td>
                                                      <td>
                                                        <%= formatDate(coupon[i].activationdate) %>
                                                      </td>
                                                      <td>
                                                        <%= formatDate(coupon[i].expirydate) %>
                                                      </td>
                                                      <td>
                                                        <%= coupon[i].criteriaamount %>
                                                      </td>
                                                      <td class="<%= coupon[i].status === 1 ? 'text-danger' : 'text-success' %>">
                                                        <%= coupon[i].status===1 ? 'Blocked' : 'Active' %>
                                                      </td>
                
                                                      <td>
                                                        <a href="/admin/loadEditCoupon?id=<%= coupon[i]._id %>"><i
                                                            class="bi bi-pencil-square"></i></a>
                                                      </td>
                                                      <td>
                                                        <a href="/admin/deleteCoupon?id=<%= coupon[i]._id %>" class=" delete-link"><i
                                                            class="bi bi-trash3"></i></a>
                                                    </td>
                                                    </tr>
                                                 <% } %>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </div>
    <%- include('../partials/admin/footer') %>