<%-include('../partials/user/header.ejs') %>


    <!-- Header Layout -->
    <main class="main">
        <div class="page-header text-center" style="background-image: url('assets/images/page-header-bg.jpg')">
            <div class="container">
                <h1 class="page-title">Shopping Cart<span>Shop</span></h1>
            </div><!-- End .container -->
        </div><!-- End .page-header -->
        <nav aria-label="breadcrumb" class="breadcrumb-nav">
            <div class="container">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                    <li class="breadcrumb-item"><a href="#">Shop</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Shopping Cart</li>
                </ol>
            </div><!-- End .container -->
        </nav><!-- End .breadcrumb-nav -->

        <div class="page-content" id="Cart">
            <div class="cart">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-9">
                            <table class="table table-cart table-mobile">
                                <thead>
                                    <tr>
                                        <th>Product</th>
                                        <th>Price</th>
                                        <th>Quantity</th>
                                        <th>Total</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <% for (let i = 0; i < cartItems.products.length; i++) { %>
                                        <% const cart = cartItems.products[i]; %>
                                        <tr>
                                            <td class="product-col">
                                                <div class="product">
                                                    <figure class="product-media">
                                                        <a href="#">
                                                            <img src="images/products/<%= cart?.productId?.images[0] %>" alt="Product image">
                                                        </a>
                                                    </figure>
                                                    <h3 class="product-title">
                                                        <a href="#">
                                                            <%= cart?.productId?.name %>
                                                        </a>
                                                    </h3><!-- End .product-title -->
                                                </div><!-- End .product -->
                                            </td>
                                            <td class="price-col">
                                                <%= cart?.productId?.price %>
                                            </td>
                                            <td class="quantity-col">
                                                <div class="cart-product-quantity">
                                                    <div class="input-group">
                                                        <button class="btn btn-decrement btn-spinner" type="button"
                                                            data-product-id="<%= cart._id %>"
                                                            onclick="updateCount(-1,'<%= cart?.productId?._id %>')">-</button>
                                                        <input type="text" class="form-control" id="quantity-<%= cart._id %>"
                                                            value="<%= cart.count %>" readonly>
                                                        <button class="btn btn-increment btn-spinner" type="button"
                                                            data-product-id="<%= cart._id %>"
                                                            onclick="updateCount(1,'<%= cart?.productId?._id %>')">+</button>
                                                    </div>
                                                </div>
                                            </td>
                                            <td class="total-col" data-product-id="<%= cart._id %>" id="total-<%= cart._id %>">
                                                <%= datatotal[i] %>
                                            </td>
                                            <td class="remove-col">
                                                <a href="/removeCartProduct"
                                                    data-product-id="<%= cart?.productId._id %>"
                                                    onclick="handleUserAction(event)">
                                                    <button class="btn-remove"><i class="icon-close"></i></button>
                                                </a>
                                            </td>
                                        </tr>
                                    <% } %>
                                </tbody>
                                
                                
                            </table><!-- End .table table-wishlist -->

                            <div class="cart-bottom">
                                <div class="cart-discount">
                                    <form action="#">
                                        <div class="input-group">
                                            <input type="text" class="form-control" required placeholder="coupon code">
                                            <div class="input-group-append">
                                                <button class="btn btn-outline-primary-2" type="submit"><i
                                                        class="icon-long-arrow-right"></i></button>
                                            </div><!-- .End .input-group-append -->
                                        </div><!-- End .input-group -->
                                    </form>
                                </div><!-- End .cart-discount -->
                            </div><!-- End .cart-bottom -->
                        </div><!-- End .col-lg-9 -->
                        <aside class="col-lg-3">
                            <div class="summary summary-cart">
                                <h3 class="summary-title">Cart Total</h3><!-- End .summary-title -->

                                <table class="table table-summary">
                                    <tbody>
                                        <tr class="summary-subtotal">
                                            <td>Subtotal:</td>
                                            <td>$<%= totalSum %></td>
                                        </tr><!-- End .summary-subtotal -->
                                    </tbody>
                                </table><!-- End .table table-summary -->


                                <!-- going check out page -->

                                <a href="/checkout" class="btn btn-outline-primary-2 btn-order btn-block">PROCEED TO
                                    CHECKOUT</a>
                            </div><!-- End .summary -->


                            <a href="/" class="btn btn-outline-dark-2 btn-block mb-3"><span>CONTINUE
                                    SHOPPING</span><i class="icon-refresh"></i></a>
                        </aside><!-- End .col-lg-3 -->
                    </div><!-- End .row -->
                </div><!-- End .container -->
            </div><!-- End .cart -->
        </div><!-- End .page-content -->
    </main><!-- End .main -->

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <script>
        //update quantity from the cart
        function updateCount(val, productId) {
            console.log("kkkk");
            $.ajax({
                method: "post",
                url: "/updateCartQuantity",
                data: JSON.stringify({ id: productId, val: val }),
                contentType: 'application/json',
                success: function (response) {
                    
                    if (response.result === true) {
                        $('#Cart').load('/cart #Cart')
                        $('#downCart').load('/cart #downCart')
                    } else if (response.result === 'stock_exceeded') {
                        // Show SweetAlert indicating the product quantity exceeds stock availability
                        Swal.fire({
                            title: 'Stock Exceeded',
                            text: 'The product quantity exceeds stock availability.',
                            icon: 'error',
                            confirmButtonText: 'OK',
                        });
                    } else if (response.result === false) {
                        // Show SweetAlert indicating the product is out of stock
                        Swal.fire({
                            title: 'Out of Stock',
                            text: 'This product is currently out of stock.',
                            icon: 'error',
                            confirmButtonText: 'OK',
                        });
                    } else if (response.result === 'quantity_below_1' && val === -1) {
                        // Show SweetAlert indicating the quantity cannot go below 1
                        Swal.fire({
                            title: 'Invalid Quantity',
                            text: 'The quantity cannot go below 1.',
                            icon: 'error',
                            confirmButtonText: 'OK',
                        });
                    }
                }
            });
        }
    </script>


    <script>
        //remove product from the cart alert
        async function handleUserAction(event) {
            event.preventDefault(); // Prevent the default action (i.e., following the link)

            const productId = event.currentTarget.getAttribute('data-product-id');

            const result = await Swal.fire({
                title: "Are you sure?",
                text: "You won't be able to remove this!",
                icon: "warning",
                showCancelButton: true,
                confirmButtonColor: "#3085d6",
                cancelButtonColor: "#d33",
                confirmButtonText: "Yes, remove it!"
            });

            if (result.isConfirmed) {
                try {
                    const response = await fetch(`/removeCartProduct?id=${productId}`, {
                        method: 'GET'
                    });

                    const data = await response.json();

                    if (data.success) {
                        Swal.fire({
                            title: "Deleted!",
                            text: "Your product has been removed from the cart.",
                            icon: "success"
                        }).then(() => {
                            // You can perform any additional actions after successful removal
                            window.location.reload(); // For example, reload the page
                        });
                    } else {
                        Swal.fire({
                            title: "Error!",
                            text: "Failed to remove the product from the cart.",
                            icon: "error"
                        });
                    }
                } catch (error) {
                    console.error("Error:", error);
                }
            }
        }
    </script>


    <%- include('../partials/user/footer.ejs') %>