<%- include('../../partials/admin/header') %>

    <div class="col-12 grid-margin stretch-card">
        <%- include('../../partials/admin/sidePanel') %>

            <div class="container-fluid mt-3">
                <div class="row justify-content-center">
                    <div class="col-md-6">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title">Basic form elements</h4>
                                <form action="/admin/product/editProduct" method="post" enctype="multipart/form-data">
                                    <div class="form-group">
                                        <input type="hidden" name="id" value="<%=foundProduct._id %>">
                                        <label for="singin-email-2"> Product Name</label>
                                        <input type="text" class="form-control" id="singin-email-2" name="name"
                                            value="<%= foundProduct.name %>">
                                        <span class="error-message text-danger" id="signin-error"></span>
                                    </div><!-- End .form-group -->

                                    <div class="form-group">
                                        <label for="singin-password-2">Category</label>
                                        <select class="form-control" id="singin-description-2" name="category">

                                            <% categories.forEach((item, index)=> { %>
                                                <option value="<%= item.name %>">
                                                    <%= item.name %>
                                                </option>
                                                <% }) %>
                                        </select>
                                        <span class="error-message text-danger" id="description-error"></span>
                                    </div><!-- End .form-group -->

                                    <div class="form-group">
                                        <label for="singin-password-2">Quantity</label>
                                        <input type="text" class="form-control" id="singin-description-2"
                                            name="quantity" value="<%= foundProduct.quantity %>"></input>
                                        <span class="error-message text-danger" id="description-error"></span>
                                    </div><!-- End .form-group -->

                                    <div class="form-group">
                                        <label for="singin-password-2">Price</label>
                                        <input type="text" class="form-control" id="singin-description-2" name="price"
                                            value="<%= foundProduct.price %>"></input>
                                        <span class="error-message text-danger" id="description-error"></span>
                                    </div><!-- End .form-group -->

                                    <div class="form-group">
                                        <label>Image upload</label>
                                        <div class="input-group col-xs-12">
                                            <input type="file" accept="image/*" name="photos" multiple
                                                class="form-control file-upload-info" placeholder="Upload Images"
                                                id="preview-input" value="<%= foundProduct.images %>" />
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label>Existing Images</label>
                                        <div id="existing-images-container" class="d-flex flex-wrap">
                                            <% foundProduct.images.forEach((image, index)=> { %>
                                                <div class="existing-image-preview mr-2">
                                                    <img src="/images/products/<%= image %>"
                                                        alt="Product Image <%= index + 1 %>" class="img-thumbnail"
                                                        style="max-width: 100px; max-height: 100px;">
                                                    <input type="hidden" name="existingImages[]" value="<%= image %>">
                                                    <!-- <button type="button"
                                                        class="btn btn-danger btn-sm remove-existing-image">Remove</button> -->
                                                        <button type="button" onclick="deleteExistImage('<%= foundProduct._id %>', '<%= image %>')"
                                                            class="btn btn-sm btn-danger">Delete</button>

                                                </div>
                                                <% }) %>
                                        </div>
                                    </div>

                                    <div class="form-group" id="preview-group" style="display: none;">
                                        <div class="card">
                                            <div class="card-header">
                                                Preview Images
                                            </div>
                                            <div class="card-body">
                                                <div id="preview-container" class="d-flex flex-wrap"></div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-footer">
                                        <button type="submit" class="btn btn-outline-primary-2 bg-primary">
                                            <span>Add</span>
                                            <i class="icon-long-arrow-right"></i>
                                        </button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <script>
                // function hideErrorMessage() {
                //     var errorMessageElement = document.getElementById('error-message');
                //     if (errorMessageElement) {
                //         setTimeout(() => {
                //             errorMessageElement.style.display = 'none';
                //         }, 4000);

                //     }
                // }
                // hideErrorMessage();

                // const previewArea = document.getElementById('preview-group')
                // const previewInput = document.getElementById('preview-input')
                // const previewImg = document.getElementById('preview-img')

                // previewInput.onchange = e => {
                //     if (e.target.files && e.target.files.length) {
                //         const imgSrc = URL.createObjectURL(e.target.files[0])
                //         previewImg.src = imgSrc
                //         previewArea.style.display = 'block'
                //     }
                // }

                document.getElementById('preview-input').addEventListener('change', handleFileSelect);

                function handleFileSelect(event) {
                    const previewGroup = document.getElementById('preview-group');
                    const previewContainer = document.getElementById('preview-container');

                    // Clear previous previews
                    previewContainer.innerHTML = '';

                    // Display the preview group
                    previewGroup.style.display = 'block';

                    // Loop through selected files and display previews
                    const files = event.target.files;
                    for (const file of files) {
                        const reader = new FileReader();

                        reader.onload = function (e) {
                            const img = document.createElement('img');
                            img.src = e.target.result;
                            img.alt = 'img';
                            img.className = 'preview';
                            img.style.maxWidth = '100%';
                            img.style.objectFit = 'cover';
                            previewContainer.appendChild(img);
                        };

                        reader.readAsDataURL(file);
                    }
                }

            </script>

<!-- for delete exist image function -->
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script>
  function deleteExistImage(productid, imageid) {
    console.log(productid, "pppp", imageid);
    $.ajax({
      method: 'delete',
      url: '/admin/deleteExistImage',
      data: JSON.stringify({ productid: productid, imageid: imageid }),
      contentType: 'application/json',
      success: function (response) {
        if (response.result == true) {

          window.location.reload()


        } else {
          console.log('Error');
        }
      }
    })

  }

  function updateImage(productid, imageid) {
    console.log(productid, imageid);

  }
</script>


            <%- include('../../partials/admin/footer') %>